/* =======================================================================
    Base
======================================================================== */

*, html, body, a, *:hover {
    cursor: none !important;
}

html {
    background: $body-background;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
}
