/* =======================================================================
    Base
======================================================================== */

*, html, body, a, *:hover {
    cursor: none !important;
}

html {
    background: $body-background;
}

body {
    overflow-x: hidden;
}
