/* =======================================================================
    layout
======================================================================== */

section {
    position: relative;
    margin-bottom: 10vh;
    min-height: 100vh;
}

.home {
    &-landing {
        .landing-text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;

            @include breakpoint(large) {
                width: 90%;
            }
        }

        .scroll-down {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 70px;
            right: -30px;
            transform: rotate(90deg);

            h5 {
                margin: 0;
                padding-right: 20px;
                text-transform: uppercase;
            }

            span {
                line-height: 0;
            };

            svg {
                fill: get-color(primary);
                transform: rotate(-90deg);
            }
        }
    }
    &-info {
        .text-hello {
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);

            @include breakpoint(medium) {
                left: -30px;
            }
        }

        h3 {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-about {
        .about-text-container {
            position: absolute;
            top: 0;
        }
    }

    &-contact {
        .text-reachout {
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);

            @include breakpoint(medium) {
                left: -30px;
            }
        }
    }
}
