/* =======================================================================
    layout
======================================================================== */

section {
    min-height: 100vh;
}

.home {
    &-landing {
        position: relative;

        .landing-text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 90%;
        }

        .scroll-down {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 70px;
            right: -30px;
            transform: rotate(90deg);

            h5 {
                margin: 0;
                padding-right: 20px;
                text-transform: uppercase;
            }

            span {
                line-height: 0;
            };

            svg {
                fill: get-color(primary);
                transform: rotate(-90deg);
            }
        }
    }
    &-info {
        position: relative;

        .text-hello {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        h3 {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-about {
        position: relative;

        .about-text-container {
            position: absolute;
            top: 0;
        }
    }
}
