/* =======================================================================
    layout
======================================================================== */

section {
    position: relative;
    margin-bottom: 10vh;
    min-height: 100vh;
}

.home {
    &-landing {
        .landing-text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;

            @include breakpoint(large) {
                width: 90%;
            }
        }

        .scroll-down {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 70px;
            right: -30px;
            transform: rotate(90deg);

            h5 {
                margin: 0;
                padding-right: 20px;
                text-transform: uppercase;
            }

            span {
                line-height: 0;
            };

            svg {
                fill: get-color(primary);
                transform: rotate(-90deg);
            }
        }
    }
    &-info {
        .text-hello {
            position: absolute;
            top: 10%;
            left: -20px;

            @include breakpoint(medium) {
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .info-text {
            &-container {
                display: flex;
                position: absolute;
                left: 0;
                right: 0;
                top: 20%;

                @include breakpoint(medium) {
                    top: 50%;
                    transform: translateY(-50%);
                }

                @include breakpoint(large) {
                    justify-content: center;
                    align-items: center;
                    height: 0;
                }
            }

            &-left {
                margin-bottom: 10%;

                @include breakpoint(medium) {
                    margin-bottom: 0;
                }

                @include breakpoint(large) {
                    transform: translateY(-130%);
                }
            }

            &-right {
                @include breakpoint(medium) {
                    transform: translateY(70%);
                }

                @include breakpoint(large) {
                    transform: translateY(55%);
                }
            }
        }

        h3 {
            display: flex;
            flex-direction: column;

            @include breakpoint(medium) {
                white-space: nowrap;
            }

            @include breakpoint(large) {
                justify-content: center;
            }
        }
    }

    &-about {
        .about-text-container {
            position: absolute;
            top: 0;
        }
    }

    &-contact {
        .text-reachout {
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);

            @include breakpoint(medium) {
                left: -30px;
            }
        }
    }
}
