/* =======================================================================
    Navigation
======================================================================== */

footer {
    padding: 20px 0;

    .cell {
        position: relative;
    }

    .btt-container {
        margin: 0 auto;
        text-align: center;

        a {
            @include type-h6;

            text-transform: uppercase;
        }
    }

    .copyright {
        position: absolute;
        right: 10px;
        bottom: 2px;

        @include breakpoint(medium) {
            right: 20px;
        }

        h6 {
            margin: 0;
        }
    }
}
