/* =======================================================================
    SVG Text
======================================================================== */

.text {
    &-logo {
        svg {
            fill: $white;
        }
    }

    &-info {
        svg {
            fill: $white;
        }
    }

    &-email {
        svg {
            fill: $white;
        }
    }

    &-resume {
        svg {
            fill: $white;
        }
    }

    &-frontend {
        margin-bottom: 2%;

        svg {
            fill: get-color(primary);
        }
    }

    &-developer {
        svg {
            fill: get-color(primary);
        }
    }

    &-hello {
        position: absolute;
        left: 0;
        width: 111%;
        pointer-events: none;

        @include breakpoint(medium) {
            width: 100%;
        }

        @include breakpoint(large) {
            width: 76%;
        }

        svg {
            fill: get-color(secondary);
            fill-opacity: 0.15;
        }
    }

    &-reachout {
        position: absolute;
        left: 0;
        width: 111%;
        pointer-events: none;

        @include breakpoint(medium) {
            width: 100%;
        }

        @include breakpoint(large) {
            width: 69%;
        }

        svg {
            fill: get-color(secondary);
            fill-opacity: 0.15;
        }
    }
}
