{{> text-hello}}
<div class="grid-x info-text-container">
    <div class="cell small-12 medium-8 large-5 large-offset-1">
        <h3 class="info-text-left">
            <span>I’m Eric Fung,</span>
            <span>Lead Front-End Developer</span>
        </h3>
    </div>
    <div class="cell small-12 medium-8 medium-offset-4 large-5 large-offset-0">
        <h3 class="info-text-right">
            <span class="show-for-small-only">Certified Salesforce Commerce Cloud developer with a passion for art and design.</span>
            <span class="show-for-medium">
                Certified Salesforce Commerce<br/>
                Cloud developer with a passion<br/>
                for art and design.<br/>
            </span>
        </h3>
    </div>
</div>
