<div class="about-intro-container">
    <div class="grid-x">
        <div class="cell small-12 medium-6 large-4 large-offset-1">
            <img src="https://via.placeholder.com/587x725" alt="">
        </div>
    </div>
    <div class="about-text-container">
        <div class="grid-x">
            <div class="cell small-10 medium-8 medium-offset-4 large-6 large-offset-3">
                <h2>A little bit about myself</h2>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 medium-offset-6 large-3 large-offset-4">
                <p>I’m originally from the Detroit area and have been living in Chicago for the past 10 years.  I love the Bauhaus approach to design.  Form and function.  Minimal and clean.  It influences the way I design and develop.</p>
            </div>
            <div class="cell small-12 medium-6 medium-offset-6 large-3 large-offset-0">
                <p>I started working in the digital space in 2015 - my previous professional life, I worked for a Japanese trading company.  I’ve made my way from web design to web development.  I’m currently working for Capgemini - a consulting agency.</p>
            </div>
        </div>
    </div>
</div>
<div class="about-skills-container">
    <div class="grid-x">
        <div class="cell small-12 medium-11 large-5 large-offset-6">
            <h3>Certification</h3>
            <p class="label">
                Salesforce Certified B2C Commerce Developer
            </p>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell small-12 medium-11 large-5 large-offset-6">
            <h3>Skills</h3>
            <p class="label">
                HTML / CSS / SASS / Javascript / jQuery / Node JS / Express JS / Bootstrap / Git / Sketch / Figma / Illustrator / Photoshop
            </p>
        </div>
    </div>
</div>
