{{> text-reachout}}
<div class="grid-x">
    <div class="cell small-12 medium-8 large-3 large-offset-2">
        <h3>
            If you want to get<br/>
            in contact, feel free<br/>
            to reach out.
        </h3>
    </div>
    <div class="cell small-12 medium-6 medium-offset-6 large-4 large-offset-0">
        <div class="contact-email">
            <a href="#">Send an Email</a>
        </div>
        <div class="contact-resume">
            <a href="#">Resume</a>
        </div>
    </div>
</div>
<div class="cell">
    <ul class="contact-list no-bullet">
        <li class="contact-item">
            <a href="#" class="contact-link github">Github</a>
        </li>
        <li class="contact-item">
            <a href="#" class="contact-link linkedin">Linkedin</a>
        </li>
        <li class="contact-item">
            <a href="#" class="contact-link codepen">Codepen</a>
        </li>
        <li class="contact-item">
            <a href="#" class="contact-link instagram">Instagram</a>
        </li>
    </ul>
</div>
